@model IEnumerable<AnuncioDeVeiculo.Models.Anuncio>

@{
    ViewBag.Title = "Tela inicial";
}

@if (TempData["Message"] != null)
{
    <div class="alert alert-success" role="alert">
        @TempData["Message"]
    </div>
}

<br />
<h4>Relação dos Anúncios</h4>

<p>
    @Html.ActionLink("Novo Anúncio", "Incluir")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Marca)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Modelo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Versao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ano)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Quilometragem)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Observacao)
        </th>
        <th>
            Ações
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Marca)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Modelo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Versao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ano)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Quilometragem)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Observacao)
        </td>
        <td>
            @Html.ActionLink("Alterar", "Alterar", new { id=item.Id }) |
            @Html.ActionLink("Detalhar", "Detalhar", new { id = item.Id }) |
            @Html.ActionLink("Remover", "Remover", new { id=item.Id })
        </td>
    </tr>
}

</table>
